*.bak
*.dbg
*.exe
*.lps
backup/*
backup
lib
bin
debug
*.res
*.lrt
*.o
*.ppu
*.or
*.compiled
*Thumbs.db
*.app/*
*.dSYM
test/test_bccombobox/test_bccombobox
!images/bgracontrols_images.res

.DS_Store
use/*/